<!-- <html>
    <head>  
        
    </head>
    <body>
        <form>
            <input type="file" name="pic" accept="image/*">
            <button type="button" value="Submit" onclick="clicked()">Submit</button>
        </form>

        <script>
            function clicked(){
                console.log('hi');
                console.log(document.getElementsByName('pic').value);    
            }
            
        </script>
    </body>
</html>
 -->

 <html>
<head>
    <title>Upload</title>
</head>
<body>
<form method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">
    <input type=file name=photo>
    <input type="submit">
</form>
</body>
</html>