.parent {
    display: flex;
    justify-content: space-around;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow-x: hidden;
}

.container {
    align-self: center;
}

.logo {
    height: 25% !important;
    width: 20%;
}

td {
    padding: 10px;
}

td:hover {
    background-color: black;
    color:white;
}

.tdSelected {
    background-color: black;
    color:white;
}

#findMembersContainer {
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.findBtn {
    border-radius: 20px;
}

#searchMemberContainer {
    height: 100%;
    width: 100%;
}

.nameList {
    height: 80vh;
    overflow-y: auto;
    width: 30%;
    display: none;

}

.available{
    background-color: green!important;
    color:white!important;
}

.searchBtn
{
    background-color: #4885ed;
    left:45%;
    margin-top: 20px;
}

.searchBtn:hover
{
    background-color: #4885ed;
}